/* * {
    border: 1px solid red;
} */

/* ------- FONTS ------- */
@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
    font-family: 'Oswald', sans-serif;
    
}

.section {
   
}

/* ------- SECTION 1 ------- */

#section1 {
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #c5c1be;
    background-image: url('../img/bg-1.jpg');
}

#myName {
    font-size: 4em;
}

.header-container {
    color: white;
}
.text-shadow {
    text-shadow: 1px 1px 3px black;

}
.header-container p
 {
    font-size: 200%;
}

.header-container h1
 {
    font-weight: 400;
}

.next-arrow {
    width: 100px;

}

/* ------- SECTION 2 ------- */


#section2 {
    /* background: #a3a3a3; */
    background: linear-gradient(red, blue);
}

.overflow-auto {
    overflow: auto;
}

/* ------- SECTION 3 ------- */

#section3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: normal;
    background-image: url('../img/bg-2.jpg');
}

#langs .card {
    background: transparent;
    border: none;
    filter: opacity(0.5);
    filter: grayscale(50%);

}

#langs .card:hover {
    transition: 0.5s;
    filter: opacity(1);
    filter: grayscale(0%);
    transform: scale(1.05);
    
}

#langs .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    
}


/* ------- SECTION 4 ------- */

#section4 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/bg-3.jpg');
}

#section4 .card {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.card a {
    color: black;
    text-decoration: none;
}

.card:hover {
    transition: 300ms;
    transform: scale(1.05);
    border: none;
    box-shadow: 0px 0px 5px 3px white;
}

#card-github {
    font-weight: bold;
    text-decoration: underline;
}