/* * {
    border: 1px solid red;
} */

/* ------- FONTS ------- */
@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
    font-family: 'Oswald', sans-serif;
    
}

/* ------- SECTION 1 ------- */

#section1 {
    background-image: url('../img/bg-1.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#myName {
    font-size: 4em;
}

.header-container {
    color: white;
}

.header-container p
 {
    font-size: 200%;
    text-shadow: 1px 1px 3px black;
}

.header-container h1
 {
    font-weight: 400;
    text-shadow: 1px 1px 3px black;
}

/* ------- SECTION 2 ------- */

#section2 {
    background-image: url('../img/bg-2.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.langs img {
    width: 100%;
}

.langs .card-body {
    background-color: rgba(0, 255, 55, 0.507);
    position: absolute;
    width: 100%;
    bottom: 0;
}

